.container {
    min-height: calc(100vh - 60px);
    width: 100%;
    margin-top: 5rem;
}

.wrapper {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
}

.left {
    height: 450px;
    width: 50%;
}

.left>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.right {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.actions> :first-child {
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    background-color: green;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.actions> :last-child {
    padding: 0.25rem 0.75rem;
    background-color: #f00;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.location {
    margin-top: 3rem;
    margin-bottom: 1.25rem;
    font-size: 18px;
    color: #222;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.location>span {
    padding: 0.25rem 0.75rem;
    background-color: blue;
    color: #fff;
    border-radius: 8px;
}

.price {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    color: #222;
    font-size: 18px;
    margin-bottom: 3rem;
}

.price>span {
    font-size: 16px;
}

.passengers {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.passengers>span {
    padding: 0.25rem 0.75rem;
    background-color: blue;
    color: #fff;
    border-radius: 8px;
}

.descContainer {
    margin-top: 3rem;
    display: flex;
    gap: 1.25rem;
    align-items: center;
    font-size: 18px;
}

.descContainer>p {
    color: #333;
    font-size: 16px;
}

.ownerDetails {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.ownerDetails>span {
    font-size: 20px;
    color: #333;
}

.ownerDetails button {
    outline: none;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.25rem 0.75rem;
    background-color: blue;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

.ownerDetails>button:hover {
    border-color: blue;
    color: blue;
    background-color: #fff;
}

.metersLong{
    margin-top: 2rem;
    font-size: 17px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.metersLong > span{
    background-color: blue;
    color: #fff;
    padding: 0.25rem 0.75rem;
    border-radius: 8px;
}

.contactBookmarkControls {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.contactForm {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999999999;
}

.contactFormWrapper {
    position: relative;
    background-color: #fff;
    height: 65vh;
    width: 25vw;
    border-radius: 20px;
}

.contactFormWrapper>h2 {
    text-align: center;
    margin: 2.5rem 0;
    margin-bottom: 3.5rem;
}

.contactFormWrapper>form>div>label {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    margin-right: 1rem;
}

.contactFormWrapper button {
    margin-top: 0.5rem;
}

.removeIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 22px;
    cursor: pointer;
}

.success {
    z-index: 999999999999;
    height: 70px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    line-height: 1.5rem;
    padding: 1.5rem;
    background-color: green;
    color: #fff;
    position: absolute;
    top: 5rem;
    right: 5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}


.error {
    height: 70px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    line-height: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #f00;
    color: #fff;
    position: fixed;
    top: 5rem;
    right: 5rem;
    font-weight: 500;
}

.commentSection {
    margin: 0 auto;
    margin-top: 12.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #555;
    border-radius: 20px;
}

.commentInput {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid #555;
}

.commentInput>img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.commentInput>input {
    flex: 1;
    outline: none;
    border: none;
    padding: 0.25rem;
    border-bottom: 1px solid #555;
}

.commentInput>button {
    outline: none;
    border: none;
    background-color: #0707b5;
    color: #fff;
    padding: 0.25rem 0.75rem;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

.comments {
    max-height: 300px;
    overflow: auto;
    margin-top: 1.25rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}