.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/estate3.jpg');
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 67.5vh;
    width: 27.5vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.wrapper>h2 {
    color: #171097;
    text-align: center;
    margin: 2.5rem 0;
    font-size: 36px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

form>input {
    width: 50%;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
}

form>label {
    align-self: center;
    width: 50%;
    cursor: pointer;
    transition: 150ms all;
    display: flex;
    align-items: center;
    gap: 12px;
}

form>label:hover {
    color: #444;
}

form>button {
    outline: none;
    background-color: blue;
    color: #fff;
    border-radius: 12px;
    padding: 0.5rem 1.25rem;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid transparent;
}

form>button:hover {
    background-color: #fff;
    border-color: blue;
    color: blue;
}

form>p {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form>p>a {
    text-decoration: none;
    font-size: 17px;
    color: #888;
    margin-top: 0.25rem;
}

.error {
    height: 70px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    line-height: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #f00;
    color: #fff;
    position: fixed;
    top: 5rem;
    right: 5rem;
    font-weight: 500;
}

/* RESPONSIVE */

@media only screen and (max-width: 992px) {
    .wrapper {
        height: 60vh;
        width: 30vw;
    }
}


@media only screen and (max-width: 768px) {
    .wrapper {
        height: 80vh;
        width: 50vw;
    }
}