.container {
    height: 100%;
    width: 100%;
    margin-top: 2.5rem;
}

.wrapper {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
}

.wrapper > h3{
    text-align: center;
    font-size: 28px;
    margin-bottom: 2rem;
    color: #333;
}

.properties {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.properties>.property>.imgContainer {
    display: inline-block;
    height: 350px;
    width: 80%;
    margin-bottom: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.properties>.property>.imgContainer>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 150ms all;
}

.properties>.property>.imgContainer>img:hover {
    scale: 1.035;
}

.properties .owner {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.property>.details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0.5rem;
}

.property>.details>.priceAndOwner {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceAndOwner>.price {
    font-weight: bold;
    font-size: 18px;
}

.moreDetails {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 0.5rem;
}

.moreDetails>span {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-right: 1px solid #0707b5;
    color: #2c2cdc;
    padding-right: 1.25rem;
}

.moreDetails>span:last-child {
    border: none;
}

.desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
    font-size: 18px;
    color: #222;
}